<!-- Main content -->
<section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Drivers DataTable</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="driversTable" class="table table-bordered table-hover">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Identificacion</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Sara</td>
                <td>Smith</td>
                <td>E29-233-5345</td>
              </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->
